<!DOCTYPE html>
<html lang="es">
<head>
<title>Registros de entrada</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">	
</head>
 
<body>
  <table class="table table-bordered">
	{% if items %}
  <tr>
    <th>Fecha</th>

    <th>Patente</th>
  </tr>
  
    {% for item in items %}
  <tr>    
    <td> {{ item.fecha}}</td>
    <td>{{ item.patente }}</td>
  </tr>    
    {% endfor %}

    {% else %}
    	<p>No hay datos</p>
    {% endif %}
  
  </table>    
</body>
</html>
